<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon tuto Django</title>
</head>
<body>
    <header>
        <h1><a href="/">Mon Premier Django</a></h1>
    </header>
   <div>
    
    {% for post in posts %}
    <article>
        <time> publié le :{{ post.published_date }}</time>
        <h2> <a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {%  endfor %}
   </div>
</body>
</html>