<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon tuto Django</title>
</head>
<body>
    <header>
        <h1><a href="/">Mon Premier Django</a></h1>
    </header>
    <article>
        <time datetime=""> publication : 17.08.2026, 16:38</time>
        <h2><a href="">Mon premier article</a></h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus harum sequi deserunt tenetur officia inventore fuga ducimus eligendi non soluta, voluptate deleniti molestiae unde reprehenderit ab possimus repudiandae labore excepturi.</p>
    </article>

    <article>
        <time datetime=""> publication : 17.08.2026, 16:38</time>
        <h2><a href="">Mon second article</a></h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt labore magni accusamus adipisci earum rem maiores dignissimos vel placeat ad, pariatur quae officiis, velit molestias asperiores tenetur mollitia. Rem, enim?</p>
    </article>
</body>
</html>